numpy
pandas
scikit-learn
matplotlib
seaborn
tensorflow
keras
torch
torchvision
opencv-python
Pillow
jupyterlab
notebook
tqdm
scipy
h5py
requests
joblib
pyyaml
albumentations
tensorboard
ipykernel
ipython
ipywidgets
jupyter
jupyter-console
nbconvert
nbformat
widgetsnbextension
six
typing-extensions
absl-py
protobuf
termcolor
astunparse
wrapt
google-pasta
gast
flatbuffers
opt-einsum
markdown
werkzeug
grpcio
tensorboard-plugin-wit
rsa
cachetools
google-auth
google-auth-oauthlib
importlib-metadata
setuptools
wheel